/* IMPORT CSS */
@import 'css/bootstrap.css';
@import 'css/demo.css';
@import url(http://fonts.googleapis.com/css?family=Raleway:300);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* INICIO * CSS Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,
fieldset,p,blockquote,th,td{margin:0;padding:0;}
address,th{font-style:normal;font-weight:normal;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;}
img,fieldset{border:none;}
ol,ul{list-style:none; font-size:inherit;}
a{text-decoration:none;}
div{
	position:relative;
}
a:focus {outline: none;}
/* FIM * CSS Reset */

/* fontawesome */
[class*="fontawesome-"]:before {
		font-family: 'FontAwesome', sans-serif;
}


body{
background-color: #FFF !important;
margin: auto;
}

body a:hover{
	text-decoration: none;
}

/* ----- HEADER ------*/

header a:hover{
	color: #0095da;
}

header.navbar-inverse{
	background: #e9e9ea;
	padding: 8px 0px;
	border: none;
	opacity: 0.95;
	margin: 0px;
	z-index: 999;
	border-radius: 0px;
}

.navbar-brand{
	height: auto;
}

.navbar-inverse .navbar-collapse{
	border-color: #fff;
	border-width: 1px;
}

.navbar-inverse .navbar-toggle{
	border-color: #fff;
}

.navbar-toggle{
	background: #0095da;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
	background-color: #ed1a3b;
}

#menu-top{
	padding-top: 2%;
	font-size: 16px;
}

#menu-top li{
	padding: 0px 18px;
	color: #444;
}

#menu-top a{
	color: #666666;
}

#menu-top a:hover{
	color: #0095da;
}

/* ----- CONTENT 01 ------*/
#img-content{
	padding: 0px;
	margin-top: -10%;
}

#img-content img{
	width: 100%;
	height: 100%;
}

.tag-legenda{
	position: relative;
	margin-right: 50px;
	padding: 18px;
	background: #e20031;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-bottomright: 20px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

#tag-index{
	margin-top: -15%;
	text-align: center;
}

.tag-legenda p{
	color: #fff;
	font-size: 150%;
	margin-top: 0px !important;
}

/* ----- CONTENT 02------*/

#content-02{
	clear: both;
	padding-top: 50px;
}

#newsletter-home{
	margin-top: 30px;
}

#newsletter-home h3{
	margin-bottom: 20px;
}

#newsletter-home p{
	line-height: 25px;
}

#input-newsletter{
	margin-top: 30px;
}

#input-newsletter button{
	width: 100px;
}

/* ----- CONTENT 03------*/
.content-03{
	background: #f3f3f3;
	padding: 50px 0px;
}

.content-servicos{
	margin-top: 20px;
}

.itens-servicos{
	background: #0099cc;
	min-height: 100%;
	overflow: hidden;
	border-bottom: 1px solid #fff;
}

.itens-servicos p{
	padding-top: 15px;
	color: #fff;
}

.icon-servicos{
	background: url('images/tag-servico.png') no-repeat;
	height: 50px;
	margin: 0px;
}

.icon-servicos img{
	width: 32px;
	margin: 10px 20px;
}

/* ----- CONTENT 04 ------*/
#content-04{
	padding: 30px 0px;
}

#content-04 img{
	width: 100%;
}

#buttom-more{
	padding: 10px;
	text-align: center;
	font-size: 16px;
	margin-top: 20px;
}

#buttom-more a{
	color: #fff;
}

#buttom-more a:hover{
	text-decoration: underline;
}

#txt-historia p{
	line-height: 25px;
	margin-top: 20px;
}

/* ----- AREA TOP ------*/
.banner-area{
	height: 330px;
	margin-top: -5%;
}

.banner-area img{
	width: 100%;
	height: 100%;
}

.titulo-area{
	position: relative;
	margin-top: -180px;
	padding-bottom: 40px;
	font-family: 'Raleway', sans-serif;
}

.titulo-area h1{
	font-size: 300%;
	color: #0099cc;
	margin-bottom: 20px
}

/* ----- CONTENT-POST ------*/
.content-post{
	margin-bottom: 50px;
}

.content-post button{
	width: 100%;
}


.itens-servicos_post{
	background: #0099cc;
	min-height: 100%;
	overflow: hidden;
	border-bottom: 1px solid #fff;
}

.itens-servicos_post p{
	padding-top: 15px;
	color: #fff;
}

.icon-servicos_post{
	background: url('images/tag-servico.png') no-repeat;
	height: 50px;
	margin: 0px;
}

.icon-servicos_post img{
	width: 32px;
	margin: 10px 20px;
}

.post-txt{
	margin-top: 20px;
}

.post-txt p{
	line-height: 28px;
	margin-bottom: 15px;
}

.post-txt strong{
	color:#ed1a3b;
}

.image-destaque{
	clear: both;
	top: 20px;
}

.image-destaque img{
	width: 100%;
}

/*------- CONTENT-HISTORIA ------*/
input[type="radio"] {
				display:none;
}
label:before {
	content: "";
	display: inline-block;
	width: 12px;
	height: 12px;
	margin: 5px;
	position: absolute;
	left: 0px;
	background-color: #FFF;
	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

input[type=radio]:checked + label:before {
    content: ".";
    color: #0099cc;
    font-size: 22px;
    text-align: center;
    line-height: 0px;
}

label p{
	padding-left: 25px;
}

.content-historia{
	height: 700px;
	overflow: hidden;
}

.img-content{
	background: url('images/areas/content-historia.png') no-repeat;
	height: 877px;
}

.area-historia{
	margin-top: 20%;
	margin-bottom: 10%;
}

.area-historia p{
	margin-top: 10px;
	color: white;
}

.area-historia a{
	color: white;
}

.area-historia a:hover{
	text-decoration: underline;
}

.btn-galeria{
	clear: both;
	margin: auto;
	margin-bottom: 20px;
	width: 137px;
	height: 56px;
	border-radius: 14px;
	transition: box-shadow 0.7s;
}

.btn-galeria:hover{
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.7);
	-moz-box-shadow:    0px 0px 30px 0px rgba(0, 0, 0, 0.7);
	box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.7);
	border-radius: 14px;
}

#float-menu{
	position: fixed;
	z-index: 999;
	margin: 30px;
	color: white;
}

#float-menu li{
	padding: 5px 0;
}

#float-menu span{
	font-size: 10px;
}

.custom-upload{
	clear: both;
	width: 295px;
	height: 36px;
}

.custom-upload .form-true{
	opacity: 0.2;
	position: relative;
	z-index: 999;
}

.form-fake{
	margin-top: -35px;
}

#btn-work{
-webkit-border-top-right-radius: 6px;
-webkit-border-bottom-right-radius: 6px;
-moz-border-radius-topright: 6px;
-moz-border-radius-bottomright: 6px;
border-top-right-radius: 6px;
border-bottom-right-radius: 6px;
margin: -8px;
padding-right: 20px;
padding-left: 20px;
margin-top: -12px;
}

/*------- CONTENT-SLIDE ------*/
#bxSlider{
	margin-top: 0px;
}

.bx-wrapper{
	width: 100%;
}

#part-galeria .bx-controls-direction a{
	margin-top: -30% !important;
}

#part-galeria .bx-viewport{
	border: none !important;
	background: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

#part-galeria .bx-pager{
	top: -130px !important;
}

#part-galeria img{
	width: 100%;
}

/*------- CONTENT-TRABALHE ------*/
#part-trabalhe{
	background: #FFF;
}

#part-trabalhe h1{
	color:  white;
}

#part-trabalhe p{
	margin-top: 12px;
	line-height: 25px;
}

#part-trabalhe input{
	min-width: 300px;
}

#content-trabalhe{
	margin-top: 18%;
}

#content-trabalhe p{
	max-width: 560px;
}

#form-envio{
	min-width: 394px;
}
/*------- CONTENT-CADASTRO ------*/

.input-groups{
	margin-bottom: 30px;
	font-size: 15px;
}

.input-groups input{
	background: #0099cc;
	border: none;
	padding: 10px 20px;
	margin-left: -10px;
	color: #006699;
	font-style: italic;
	min-width: 211px;
	margin-top: 20px;
}

::-webkit-input-placeholder { /* WebKit browsers */
				color:    #006699;
				font-style: italic;
}

.label-input{
	background: #006699;
	padding: 10px 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-right-radius: 10px;
	color: white;
	display: inline-block;
	width: 157px;
	z-index: 999;
	margin-top: 20px;

}

#btn-enviar{
	margin-right: 4%;
}

#content-cadastro{
	margin-top: 30px;
	min-height: 500px;
}

#content-cadastro textarea{
	height: 140px !important;
}

#content-cadastro button{
	margin-top: 10px;
}

/* ----- FOOTER ------*/
footer{
	background: #0099cc;
	min-height: 100px;
	padding: 20px 0px;
	clear: both;
}

footer p{
	color: #fff;
	margin-top: 20px;
	margin-right: 10px;
}

footer img{
	margin-left: 10px;
}
